/* You can add global styles to this file, and also import other style files */
body,html {
    margin: 0;
    padding: 0;
    background: url("https://img.freepik.com/free-vector/white-gray-geometric-pattern-background-vector_53876-136510.jpg?w=1380&t=st=1679139765~exp=1679140365~hmac=d67799b7874f9eab4d638a1b11a38abbe13bba0c329af02d836c343ab58a46b0");
    background-repeat: no-repeat;
    background-size: cover;
}
* {
    box-sizing: border-box;
}